.Weather {
  border: 1px solid rgba(30, 28, 28, 0.325);
  border-radius: 4px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(30, 30, 31, 0.789);
  line-height: 1.5;
}

.Weather .form-search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  color: rgba(31, 36, 43, 0.853);
}
.Weather .search-button {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(31, 36, 43, 0.853);
  border-radius: 4px;
  background-color: rgba(31, 36, 43, 0.853);
  color: white;
}

.Weather .weather-overview {
  align-items: center;
}
.Weather .weather-overview-right {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.Weather img {
  width: 80px;
  height: 80px;
}
.Weather .temperature {
  font-size: 60px;
}
.Weather .units {
  font-size: 20px;
  position: relative;
  top: -28px;
}
.Weather h1 {
  margin-top: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: rgba(30, 30, 31, 0.548);
}
.Weather li {
  list-style: none;
}
.Weather .additional-details {
  margin-top: 5px;
}
.Weather .additional-details li {
  display: inline;
  margin-right: 15px;
}
.Weather .additional-details-measurements {
  font-weight: bold;
}
